<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Yoga Boss NFT">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yogabossnft.io/">
    <meta property="og:site_name" content="YogaBossNFT">
    <meta property="og:image" content="images/yogabossnft-thumbnail.png">
    <meta property="og:description" content="Sacred Geometry animations with Chakra frequency music inducing an instant meditative experience.">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">

    <link rel="stylesheet" href="css/bootstrap.min.css">  
    <link rel="stylesheet" href="css/style.css">  

    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/progress.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/demo.css"> -->

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="manu-se">
        <header class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg sticky-top">
                    <!-- <div class="search-btn-mobile"><i class="fa fa-search"></i></div> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- <a class="navbar-brand" href="#"><img src="images/logo-full.png"></a> -->
                    <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item "><a class="nav-link" href="#about_se">ABOUT</a></li>
                            <li class="nav-item "><a class="nav-link" href="#whitelist">ALLOWLIST</a></li>
                            <li class="nav-item "><a class="nav-link" href="#offering">YOG8 DAO</a></li>
                            <li class="nav-item "><a class="nav-link" href="#significance">SIGNIFICANCE</a></li>                    
                            <li class="nav-item "><a class="nav-link" href="#chakras">CHAKRAS</a></li>                    
                            <li class="nav-item "><a class="nav-link" href="#studies">STUDIES</a></li>                    
                            <li class="nav-item "><a class="nav-link" href="#faq-contact">FAQ</a></li>                    
                            <li class="nav-item "><a class="nav-link" href="#faq-contact">CONTACT</a></li>                    
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>

    <div class=" jarallax" id="whitelist" data-jarallax data-jarallax-video="mp4:video/WebsiteBG_2.webm"> 
        <div class="banner-se bg-video-se" id="about_se">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="banner-conten">
                            <h1>8888 UNIQUELY<br>HAND-DESIGNED</h1>
                            <p>audio frequency-enhanced sacred geometry animations</p>
                            <div class="comman-btn">
                                <a href="#">Mint Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <video autoplay muted loop id="myVideo">
              <source src="video/WebsiteBG_2.webm" type="video/mp4">
              Your browser does not support HTML5 video.
            </video> -->
        </div>
        <div class="multi-sensory-se">
            <!-- <div class="multi-sensory-se jarallax" id="whitelist" data-jarallax data-jarallax-video="https://www.youtube.com/watch?v=NvqB-JwhWh0&list=PLTDgOUcX23hbmAATluQUP3aZwSXQa01GJ&index=19">  --> 
            
            <!-- <video autoplay muted loop id="myVideo">
              <source src="video/Animated-Video-1.mp4" type="video/mp4">          
            </video> -->
        
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="comman-title">
                            <!-- <h3>A Multi-Sensory Spritually<br>Stimulating NFT Experience</h3> -->
                            <h3>Meditation Made Easy</h3>
                            <h5>Sacred Geometry Animations<br>with Chakra Frequency Music</h5>
                        </div>
                        <div class="left-border-list">
                            <ul>
                                <li>Individually Created to Induce Deep Meditation</li>
                                <li>NFT's Grant Access to Free Wellness Activations</li>
                                <li>Infinite Access to Yoga and Meditation</li>
                                <li>Entrance to Supportive Community Spaces</li>
                            </ul>
                        </div>
                        <div class="comman-title">
                            <!-- <h3>Meditation Made Easy</h3> -->
                            <h3>A Multi-Sensory Stimulating<br>NFT Experience</h3>
                            <!-- <p>The <b>YOGA BOSS NFT EXPERIENCE</b> inspires an <br>immediate positive mental shift</p> -->
                        </div>
                        <div class="left-border-list">
                            <ul>
                                <li>Brain Hemisphere Synchronization</li>
                                <li>Improve Mood, Memory and Cognition</li>
                                <li>Promote Physical Healing</li>
                                <li>Expand Mental Projection</li>
                            </ul>
                        </div>
                        <!-- <div class="comman-title">
                            <h5>Improving</h5>
                        </div>
                        <div class="left-border-list">
                            <ul>
                                <li>Mood, memory, cognition, physical healing and pain relief</li>
                                <li>Expand mental projection into infinite possibilities</li>
                            </ul>
                        </div> -->
                        <div class="comman-btn">
                            <a href="#">OPEN ALLOWLIST FIRST 888 NFTs FOR <span>0.18 ETH</span></a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="circal-video-se">
        <div class="container">            
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video1" src="video/nfts/7-Thorns-v2_25.mp4" loop="" controls="" muted="muted" playsinline="" controlslist="nodownload"></video>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video2" src="video/nfts/Diamond-Circles-v3_31.mp4" loop="" controls="" muted="muted" playsinline="" controlslist="nodownload"></video>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video3" src="video/nfts/Dodecaedron-v5_13.mp4" loop="" controls="" muted="muted" controlslist="nodownload"></video>
                    </div>  
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video4" src="video/nfts/FlowerAndThorns_1.mp4" loop="" controls="" muted="muted" controlslist="nodownload"></video>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video5" src="video/nfts/FlowerAndThornsV2_22.mp4" loop="" controls="" muted="muted" playsinline="" controlslist="nodownload"></video>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video6" src="video/nfts/FlowerOfLifeBloom-v3_34.mp4" loop="" controls="" muted="muted" controlslist="nodownload"></video>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video7" src="video/nfts/FruitOfLife-v1.mp4" loop="" controls="" muted="muted" controlslist="nodownload"></video>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="video-box">
                        <video id="autoplay_video8" src="video/nfts/FruitOfLife-v3.mp4" loop="" controls="" muted="muted" controlslist="nodownload"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offering-se">

        <div class="ybnfts-se " id="offering"><!-- bg-video-se -->

            <!-- <video autoplay muted loop id="myVideo">
              <source src="video/Animated-VIdeo-2.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video> -->
            <div class="container">
                <div class="comman-title text-center">
                    <h2><span>YOGA BOSS NFTs </span> offer you so many <br> IRL utilities that the <span>NFT</span> feels <span>free.</span></h2>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="comman-title">
                            <h3>MINTING A YOGA BOSS NFT GRANTS LIFETIME ACCESS</h3>
                            <p>to all online Yoga and Meditation classes and 365 Positive Intentions Audio-Enhanced Ebook and 10 Tips for a Positive Mental Shift.</p>
                        </div>
                        <div class="icon-list">
                            <span><img src="images/icon1.png"></span>
                            All NFT holders receive lifetime exclusive access to Yoga Retreat upgrades and pricing specials and VIP events.
                        </div>
                        <div class="icon-list">
                            <span><img src="images/icon2.png"></span>
                            YOGA BOSS NFT’s are not like other speculative crypto investments. Owners receive immediate inherent value with access to classes and meditations.
                        </div>
                        <div class="icon-list">
                            <span><img src="images/icon3.png"></span>
                            Cryptocurrency will increase and decrease over time, but your YOGA BOSS NFT continues to offer Infinite Access.
                        </div>
                    </div>
                    <!-- <div class="col-lg-2"></div> -->
                    <div class="col-lg-5 offset-lg-2 col-md-6">
                        <div class="comman-title">
                            <h3>ONE-TIME YOGA BOSS NFT PURCHASE MEANS INFINITE ACCESS, WITH NO REOCCURRING FEES.</h3>
                        </div>
                        <div class="icon-list">
                            <span><img src="images/icon4.png"></span>
                            YOU control your NFT to use it or sell it at your discretion.
                        </div>
                        <div class="icon-list">
                            <span><img src="images/icon5.png"></span>
                            Ownership of YOGA BOSS NFT’s offers the ability to monetize after your purchase.
                        </div>                    
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>

        <div class="form-se">
            <div class="container">            
                <div class="row">
                    <div class="col-lg-5">
                        <div class="comman-title">
                            <h4>NO OTHER YOGA OFFERING GIVES YOU THIS POWER.</h4>
                            <p>Rather than just renting a temporary experience from a Yoga studio, YOGA BOSS NFTs include lifetime Infinite Access.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <img src="images/form-img.png">
                    </div>                    
                    <div class="col-lg-5 offset-lg-2 col-md-6">
                        <div class="form-box">
                            <div class="comman-title">
                                <h2>FREE 10 Tips for the<br> Positive Mental Shift</h2>
                            </div>
                            <form>
                                <div class="from-group">
                                    <label>Full Name</label>
                                    <input type="text" class="form-control" name="">
                                </div>
                                <div class="from-group">
                                    <label>Email*</label>
                                    <input type="text" class="form-control" name="">
                                </div>
                                <div class="comman-btn">
                                    <button class="btn">Send Me The Free Gift</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="ss-se" id="significance">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="comman-title">
                        <h3>SPIRITUAL SIGNIFICANCE</h3>
                        <p class="yellow-text">One Moment in Meditation immediately impacts our emotional state. Even if the feeling only lasts for a few minutes, those few moments of peace are priceless.</p>
                        <p>Yoga Boss NFT’s use the multi-sensory stimulating sacred geometry Fibonacci sequence patterns, energetic audio frequencies, and visual color vibrations to induce a calming meditative state to promote emotional well-being and energetic spiritual and physical balance for holistic mental health.</p>
                    </div>
                </div>                
                <div class="col-lg-6 col-md-5">
                    <img src="images/img1.png">
                </div>
            </div>
        </div>
    </div> -->

    <div class="caecditvaoais-se" id="chakras">
        <div class="container">
            <div class="row align-items-center col-re">
                <div class="col-lg-6 col-md-5">
                    <span><img src="images/img2.png"></span>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="collapsible">
                        <div class="collapse-heading">
                            <div class="comman-title mb-0">
                                <h3 class="collapse-header1">SPIRITUAL SIGNIFICANCE</h3>
                            </div>
                        </div>
                        <div class="collapse-content">
                            <div class="comman-title">
                                <p>One Moment in Meditation immediately impacts our emotional state. Even if the feeling only lasts for a few minutes, those few moments of peace are priceless.</p>
                                <div class="continue_reading">
                                    <a href="javascript:void(0);" class="btn-continue-more">Continue Reading...</a>
                                    <div class="more_content" style="display: none;">
                                        <p>Yoga Boss NFT’s use the multi-sensory stimulating sacred geometry Fibonacci sequence patterns, energetic audio frequencies, and visual color vibrations to induce a calming meditative state to promote emotional well-being and energetic spiritual and physical balance for holistic mental health.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible">
                        <div class="collapse-heading">
                            <div class="comman-title">
                                <h3 class="text-white collapse-header">Chakras are energy centers described in the Vedas and other ancient Indian scriptures</h3>
                            </div>
                        </div>
                        <div class="collapse-content">
                            <div class="comman-title">
                                <p class="yellow-text">Chakra literally means wheel and the circulation of energy in our Chakras are indications of our physical, mental, emotional, and spiritual well-being.</p>
                                <p>The Chakras run from the base of the spine to the crown of the head and pulse with energy that reveals the well-being of the body’s organs, consciousness, emotional state, and overall health and wellness.</p>
                                <div class="continue_reading">
                                    <a href="javascript:void(0);" class="btn-continue-more">Continue Reading...</a>
                                    <div class="more_content" style="display: none;">
                                        <p>Our ancestors understood that any blockage of energy flow through any one of the Chakras would lead to spiritual, emotional, and physical imbalance and dis-ease in the body and distress in the mind.</p>
                                        <p>In a world where mental health is mandatory, it is especially important to have tools that immediately inspire a positive mental shift.</p>
                                        <p>Every Yoga Boss NFT incorporates the visually stimulating Chakra colors and sacred geometry symbols to regulate and balance the energy centers of the body.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="nssstbb-se" id="studies">
        <div class="container">
            <div class="comman-title text-center">
                <h3><i>Numerous Scientific Studies<br> Show That Binaural Beats</i></h3>
            </div>
            <div class="row">
                <div class="col">
                    <div class="icon-box text-center">
                        <img src="images/thinking.png">
                        <p>Improve cognition and <br> critical thinking skills</p>
                    </div>
                </div>
                <div class="col">
                    <div class="icon-box text-center">
                        <img src="images/amnesia.png">
                        <p>Increase long-term memory</p>
                    </div>
                </div>
                <div class="col">
                    <div class="icon-box text-center">
                        <img src="images/design-thinking.png">
                        <p>Enhance creativity and work performance</p>
                    </div>
                </div>
                <div class="col">
                    <div class="icon-box text-center">
                        <img src="images/dizzy.png">
                        <p>Decrease anxiety and stress</p>
                    </div>
                </div>
                <div class="col">
                    <div class="icon-box text-center">
                        <img src="images/sleeping.png">
                        <p>Improving sleep <br>patterns</p>
                    </div>
                </div>
            </div>
            <!-- <div class="bottom-p text-center">
                <p>Yoga Boss multi-sensory stimulating NFT’s were individually created to draw you into a deep meditative state while improving mood, memory, cognition, physical healing and pain relief, while simultaneously accessing the subconscious mind through brain hemisphere synchronization to promote relaxation to expand mental projection into infinite possibilities.</p>
            </div> -->
        </div>
    </div>


    <div class="fsp-se bg-video-se">
        <video id="autoplay_video9" muted loop>
          <source src="video/WebsiteBG_1.webm" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <div class="container">            
            <div class="collapsible">
                <div class="collapse-heading">
                    <div class="comman-title">
                        <h3 class="collapse-header1"><i>Fibonacci Sequence Patterns</i></h3>
                        <p>Amplify our connection to the spiritual significance of our existence and affirm the <br>harmony that exists in every aspect of nature.</p>
                    </div>
                </div>
                <div class="collapse-content">
                    <div class="comman-title">
                        <div class="continue_reading">
                            <a href="javascript:void(0);" class="btn-continue-more">Continue Reading...</a>
                            <div class="more_content" style="display: none;">
                                <p>The Golden Ratio is apparent in every living entity from flowers and leaves to the human body.</p>
                                <p>Yoga Boss NFT’s illustrate the divine proportions and lines of energy existing in nature and life events as a reminder of the power we possess in the present moment to actively determine our destiny in the sacred space of now.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="comman-title">
                <h4>Our Soul’s experience is uniquely specific in the same way our NFT is unique to us.</h4>
                <p>once we own an NFT, no one else is connected to it in this moment so our NFT becomes a partial expression of who we are as a human being and what we value.</p>
            </div> -->

            <div class="mt-5"></div>
            <div class="collapsible">
                <div class="collapse-content "> <!-- d-none -->                             
                    <div class="collapse-heading">
                        <div class="comman-title text-center">
                            <h5 class="">How To Videos</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="video-box">
                                <iframe src="https://www.youtube.com/embed/YVgfHZMFFFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="comman-title text-center">
                                    <h3>Metamask Wallet</h3>
                                </div>
                                <!--<p>https://youtu.be/YVgfHZMFFFQ</p>-->
                                <p>What is MetaMask?
                                Learn about MetaMask and how it empowers people around the world to use blockchain technology.</p>
                                <p>Download now at [http://metamask.io/] (http://metamask.io/)</p>
                            </div>
                        </div>                        
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="video-box">
                                <iframe src="https://www.youtube.com/embed/hds6t0SKFO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="comman-title text-center">
                                    <h3>How To Add Custom Tokens To MetaMask? [MetaMask Tutorial]</h3>
                                </div>                                
                                <p>Find out How To Add Custom Tokens To MetaMask? How to find token contract address? Best MetaMask Tutorial!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="video-box">
                                <iframe src="https://www.youtube.com/embed/RPDG4NlIVF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="comman-title text-center">
                                    <h3>Buy Crypto with Metamask & Uniswap!(Complete Guide)</h3>
                                </div> 
                                <p>When you buy altcoins in the crypto space, the best way to do so with the most trusted tools is to use MetaMask wallet and Uniswap decentralized exchange.</p>
                                <!-- <p class="yellow-text">Buy Crypto with Metamask & Uniswap! Buying altcoins in the crypto space with the most trusted tools is to use MetaMask wallet and Uniswap decentralized exchange. </p> -->
                            </div>
                        </div>
                    </div>                            
                    <!--<p>https://www.youtube.com/watch?v=hds6t0SKFO8]</p>-->
                    <!--<p>(https://www.youtube.com/watch?v=hds6t0SKFO8)</p>-->
                    <!--<h3>Buy Crypto with Metamask & Uniswap! (Complete Guide)</h3>-->
                    <!--<p>[https://www.youtube.com/watch?v=RPDG4NIIVF8]</p>-->
                    <!--<p>(https://www.youtube.com/watch?v=RPDG4NIIVF8)</p>-->                                            
                </div>

                
            </div>
        </div>
    </div>


    <div class="footer-faqu-se" id="faq-contact"> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="text-center">
                        <img src="images/nft.png">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="faq-se">
                        <h2>FAQ</h2>
                        <p>Most Frequent Questions and Answers</p>
                        <div id="accordion" class="accordion">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  WHAT IS AN NFT?
                                </button>
                              </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                <p>A unique digital receipt, in this case spiritually significant artwork, that you can buy, trade, or sell.</p>

                                <p>The Yoga Boss NFT provides a link to access additional experiences like Yoga classes, products like the audio-enhanced Ebook, and a connection with the creator with discounts for Yoga Retreats around the world.</p>

                                <p>Your Yoga Boss NFT is like a rare piece of art that also gives you access to experiences and products that you already enjoy in real life.</p>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  NEW TO CRYPTO?
                                </button>
                              </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">
                                <p>Don’t worry…we will guide you through the process with the same love and care we invest in guiding you through your Yoga practice.</p>

                                <p>We don’t want you to miss out on the biggest wealth creation and community connection innovation that has ever happened since the end invention of the internet.</p>

                                <p>We invite you to join the $YOG8 DAO and receive easy to follow educational tutorials to immediately improve your Crypto fluency</p>

                                <p>If you are already a crypto-pro and have a Wallet, click here to MINT NOW. If you are new to Web3 or haven’t set up a MetaMask wallet yet, follow the steps in this tutorial.</p>

                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingThree">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  NEW TO WEB3, NFTS AND CRYPTOCURRENCY?
                                </button>
                              </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>EASY ACCESS</p><p>1. <a href="https://www.coinbase.com" target="_blank" rel="noopener">Coinbase</a></p><p>Download the <a href="https://www.coinbase.com" target="_blank" rel="noopener">Coinbase</a> app on your phone and/or on your laptop. Follow the steps to connect your bank account. [<a href="https://www.coinbase.com" target="_blank" rel="noopener">https://www.coinbase.com</a>]</p><p>Once you have your account connected, you can buy Ethereum (ETH) and any other cryptocurrencies after doing your own research.</p><p>Coinbase often take 3-7 business days to confirm your transaction, so set this up asap to ensure you have available funds for purchase.</p><p>2. <a href="https://metamask.io/" target="_blank" rel="noopener">MetaMask</a></p><p>Download <a href="http://MetaMask" target="_blank" rel="noopener">MetaMask</a> to set up your Wallet<br>[<a href="https://metamask.io" target="_blank" rel="noopener">https://metamask.io</a>]</p><p>BE MINDFUL: When you set up ANY wallet, NEVER EVER EVER share your seed phrase with anyone. Write it down on paper and keep it someplace safe.</p><p>3. Send ETH to your MetaMask Wallet</p><p>1. Click MINT NOW and connect your MetaMask Wallet to the Yoga Boss NFT site</p><p>Ask questions: Join our <a href="https://discord.gg/njjAS4dExD" target="_blank" rel="noopener">YOG8 Discord</a> or <a href="https://twitter.com/YogaBossNFT" target="_blank" rel="noopener">@YogaBossNFT Twitter</a> and we will walk you through the process.<br>[<a href="https://discord.gg/njjAS4dExD" target="_blank" rel="noopener">https://discord.gg/njjAS4dExD</a>]<br>[<a href="https://twitter.com/YogaBossNFT" target="_blank" rel="noopener">https://twitter.com/YogaBossNFT</a>]</p><p>Join our Discord to listen to calming frequency music, exchange ideas, receive inspiration and encouragement, and connect in the community section to chat with friends.</p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="comman-btn">
                            <a href="#">Mint Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-tab-col">
                        <p>Join the $YOG8 DAO and receive easy to follow educational tutorials to immediately improve your Crypto fluency.</p>
                        <p><b>DON'T MISS OUT</b> on Infinite Access to the Wellness Metaverse.</p>
                    </div>
                    <div class="footer-tab-col">
                        <div class="row">
                            <div class="col"><img src="images/logoyogadao.png"></div>
                            <div class="col"><a href=" https://discord.com/invite/njjAS4dExD"><img src="images/discord.png"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <p>Copyright © 2022 Yoga Boss NFT. All rights reserved</p>
                </div>
                <!-- <div class="col-lg-8 col-md-8">
                    <p>Copyright © 2022 Yoga Boss NFT. All rights reserved</p>
                </div>
                <div class="col-lg-4 col-md-4 text-right">
                    <img src="images/logo-footer.png">
                </div> -->
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="js/jarallax.min.js"></script>
    <script type="text/javascript" src="js/jarallax-video.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>  
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>     -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/owl.carousel.js"></script>

    <script type="text/javascript">

        jQuery(document).on("click",".time_heading",function(){
            // $(this).next(".time_descr").addClass("time_descr_2");
            $(this).next(".time_descr").toggle();
        });
        (function () {
          "use strict";

          // define variables
          var items = document.querySelectorAll(".timeline li");

          // check if an element is in viewport
          // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
          function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
              rect.top >= 0 &&
              rect.left >= 0 &&
              rect.bottom <=
                (window.innerHeight || document.documentElement.clientHeight) &&
              rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
          }

          function callbackFunc() {
            for (var i = 0; i < items.length; i++) {
              if (isElementInViewport(items[i])) {
                items[i].classList.add("in-view");
              }
            }
          }

          // listen for events
          window.addEventListener("load", callbackFunc);
          window.addEventListener("resize", callbackFunc);
          window.addEventListener("scroll", callbackFunc);
        })();

    </script>

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:0,
            nav:true,
            dots:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
            }
        })
    </script>

    <script type="text/javascript">
        $(window).scroll(function() {
        if ($(window).scrollTop() >= 1) {
            $(".header").addClass("fixed-header");
        } else {
            $(".header").removeClass("fixed-header");
        }
    });
    </script>    
    <script type="text/javascript">
        $(document).ready(function(){

            $(".invisible-content").hide();

            $(document).on('click', '.more-less', function(){
                var moreLessButton = $(".invisible-content").is(':visible') ? 'More...' : 'Less...';
                $(this).text(moreLessButton);
                $(this).parent('.large-content').find(".invisible-content").toggle();  
            });

            /*$(document).on('click', '.collapse-header', function(e) {
                e.preventDefault();
                let element = $(this).parents('.collapsible').find('.collapse-content');
                if( $(element).hasClass('d-none') ) {
                    $(element).removeClass('d-none')
                }
                else {
                    $(element).addClass('d-none')
                }
            });*/

            $(document).on('click', '.btn-continue-more', function(e) {
                e.preventDefault();
                let element = $(this).parents('.continue_reading').find('.more_content');
                $(this).hide();
                $(element).toggle();
            });

            setTimeout(function() {
                let videos = 10;
                for (var i = 1; i <= videos; i++) {
                    $('#autoplay_video'+i).get(0).play();
                }
            },1000);

        });
    </script>
    <!-- <script type="text/javascript">
        $(document).on('click','.plan-header', function() {
        $('.plan-content').fadeToggle("slow");
            });
    </script> -->

    <script type="text/javascript">
        $(".plan-header").click(function () {

            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                
            });

        });
    </script>



</body>
</html>